BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
UseTab: Never
BracedInitializerIndentWidth: 4
SpaceBeforeCpp11BracedList: true

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment
# BreakAdjacentStringLiterals: true # Requires clang-format 18
AlwaysBreakAfterReturnType: None

BinPackArguments: false
BinPackParameters: false

PointerAlignment: Left
QualifierAlignment: Left

IndentPPDirectives: BeforeHash
IndentGotoLabels: false
IndentCaseLabels: true

IncludeBlocks: Preserve

AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowAllParametersOfDeclarationOnNextLine: false

AlignTrailingComments:
  Kind: Always
AlignOperands: AlignAfterOperator
AlignEscapedNewlines: DontAlign
AlignConsecutiveShortCaseStatements:
  Enabled: false
AlignArrayOfStructures: Right
AlignAfterOpenBracket: BlockIndent

