#include "block_{{ name_snake_lower }}.h"

#include "../../util/interface99_extensions.h"
#include "block_id.h"
#include "../items/item_block_{{ name_snake_lower }}.h"

IBlock* {{ name_lower }}BlockCreate() {
    return &{{ name_snake_upper }}_IBLOCK_SINGLETON;
}

void {{ name_lower }}BlockInit(VSelf) ALIAS("{{ name_capital }}Block_init");
void {{ name_capital }}Block_init(VSelf) {
    VSELF({{ name_capital }}Block);
    {{ block_declaration }}
}

void {{ name_lower }}BlockAccess(VSelf) ALIAS("{{ name_capital }}Block_access");
void {{ name_capital }}Block_access(VSelf) {
}

IItem* {{ name_lower }}BlockDestroy(VSelf) ALIAS("{{ name_capital }}Block_destroy");
IItem* {{ name_capital }}Block_destroy(VSelf) {
    VSELF({{ name_capital }}Block);
    return {{ name_lower }}BlockProvideItem(self);
}

void {{ name_lower }}BlockUpdate(VSelf) ALIAS("{{ name_capital }}Block_update");
void {{ name_capital }}Block_update(VSelf) {
}

IItem* {{ name_lower }}BlockProvideItem(VSelf) ALIAS("{{ name_capital }}Block_provideItem");
IItem* {{ name_capital }}Block_provideItem(VSelf) {
    VSELF({{ name_capital }}Block);
    IItem* item = itemCreate();
    {{ name_capital }}ItemBlock* item_block = {{ name_lower }}ItemBlockCreate();
    DYN_PTR(item, {{ name_capital }}ItemBlock, IItem, item_block);
    VCALL(*item, init);
    itemBlockReplicateFaceAttributes(item_block->item_block, self->block);
    item_block->item_item.stack_size = 1;
    item_block->item_item.bob_direction = 1;
    return item;
}

{% if opaque_bitset != None %}
static const u8 {{ name_snake_upper }}_OPAQUE_BITSET = opaqueFacesBitset({{ opaque_bitset }});

bool {{ name_lower }}BlockIsOpaque(VSelf, FaceDirection face_dir) ALIAS("{{ name_capital }}Block_isOpaque");
bool {{ name_capital }}Block_isOpaque(VSelf, const FaceDirection face_dir) {
    return ({{ name_snake_upper }}_OPAQUE_BITSET >> face_dir) & 0x1;
}

u8 {{ name_lower }}BlockOpaqueBitset(VSelf) ALIAS("{{ name_capital }}Block_opaqueBitset");
u8 {{ name_capital }}Block_opaqueBitset(VSelf) {
    return {{ name_snake_upper }}_OPAQUE_BITSET;
}
{% endif %}
