#pragma once

#ifndef _PSXMC__GAME_ITEMS__ITEM_BLOCK_{{ name_snake_upper }}_H_
#define _PSXMC__GAME_ITEMS__ITEM_BLOCK_{{ name_snake_upper }}_H_

#include <stddef.h>
#include <interface99.h>

#include "item_block.h"

DEFN_ITEM_BLOCK({{ name_capital }}ItemBlock);

#define {{ name_lower }}ItemBlockAttributes() ((ItemAttributes) { \
    .max_stack_size = {{ max_stack_size }}, \
    .max_durability = {{ max_durability }}, \
    .type = ITEMTYPE_BLOCK, \
    .tool_type = TOOLTYPE_NONE, \
    .armour_type = ARMOURTYPE_NONE, \
    .material = ITEMMATERIAL_NONE, \
    .name = "{{ name_snake_lower }}" \
})

void {{ name_lower}}ItemBlockRenderWorld(VSelf, const Chunk* chunk, RenderContext* ctx, Transforms* transforms);
void {{ name_capital }}ItemBlock_renderWorld(VSelf, const Chunk* chunk, RenderContext* ctx, Transforms* transforms);

void {{ name_lower}}ItemBlockRenderInventory(VSelf, RenderContext* ctx, Transforms* transforms);
void {{ name_capital }}ItemBlock_renderInventory(VSelf, RenderContext* ctx, Transforms* transforms);

void {{ name_lower}}ItemBlockRenderHand(VSelf, RenderContext* ctx, Transforms* transforms);
void {{ name_capital }}ItemBlock_renderHand(VSelf, RenderContext* ctx, Transforms* transforms);

void {{ name_lower}}ItemBlockApplyWorldRenderAttributes(VSelf);
void {{ name_capital }}ItemBlock_applyWorldRenderAttributes(VSelf);

void {{ name_lower}}ItemBlockApplyInventoryRenderAttributes(VSelf);
void {{ name_capital }}ItemBlock_applyInventoryRenderAttributes(VSelf);

void {{ name_lower}}ItemBlockApplyHandRenderAttributes(VSelf);
void {{ name_capital }}ItemBlock_applyHandRenderAttributes(VSelf);

impl(Renderable, {{ name_capital }}ItemBlock);

void {{ name_lower}}ItemBlockInit(VSelf);
void {{ name_capital }}ItemBlock_init(VSelf);

void {{ name_lower}}ItemBlockDestroy(VSelf);
void {{ name_capital }}ItemBlock_destroy(VSelf);
{%- if has_damage_handler %}
void {{ name_lower}}ItemBlockApplyDamage(VSelf);
void {{ name_capital }}ItemBlock_applyDamage(VSelf);
{% endif -%}
{%- if has_use_action %}
void {{ name_lower}}ItemBlockUseAction(VSelf);
void {{ name_capital }}ItemBlock_useAction(VSelf);
{% endif -%}
{%- if has_attack_action%}
void {{ name_lower}}ItemBlockAttackAction(VSelf);
void {{ name_capital }}ItemBlock_attackAction(VSelf);
{% endif -%}

impl(IItem, {{ name_capital }}ItemBlock);

ALLOC_CALL({{ name_capital }}ItemBlock_destroy, 1) {{ name_capital }}ItemBlock* {{ name_lower}}ItemBlockCreate();
DEFN_ITEM_CONSTRUCTOR({{ name_lower }});

#endif // _PSXMC__GAME_ITEMS__ITEM_BLOCK_{{ name_snake_upper }}_H_
