#pragma once

#ifndef _PSXMC__{{ path_snake_upper }}__{{ name_snake_upper }}_H_
#define _PSXMC__{{ path_snake_upper }}__{{ name_upper }}_H_

#include "{{ recipe_header_include_path }}/recipe.h"

extern const RecipeNode* {{ name_snake_lower }};

#endif // _PSXMC__{{ path_snake_upper }}_{{ name_upper }}_H_
