IUIComponent* {{ name_snake_lower }}_button_component = uiAddComponent(ui);
UIButton* {{ name_snake_lower }}_button = uiButtonNew(
    "{{ text }}",
    vec2_i16({{ x }}, {{ y }}),
    {{ width }},
    1
);
{% if disabled -%}
{{ name_snake_lower }}_button->state = BUTTON_DISABLED;
{%- endif %}
DYN_PTR(
    {{ name_snake_lower }}_button_component,
    UIButton,
    IUIComponent,
    {{ name_snake_lower }}_button
);
