#include "{{ name_snake_case }}.h"

#include <psxgpu.h>

#include "menu.h"
#include "menu_id.h"
#include "../blocks/block.h"
#include "../../render/render_context.h"
#include "../../render/font.h"
#include "../../resources/assets.h"
#include "../../resources/asset_indices.h"
#include "../../resources/texture.h"
#include "../../structure/cvector_utils.h"
#include "../../structure/primitive/primitive.h"
#include "../../util/preprocessor.h"
#include "../../util/interface99_extensions.h"
#include "../../ui/components/background.h"
#include "../../ui/components/button.h"
#include "../../ui/components/cursor.h"

{% for texture_params in static_textures %}
static Texture {{ texture_params[2] }} = {0};
{% endfor %}

IUI* {{ name_camel_case }}New() {
    IUI* iui = (IUI*) malloc(sizeof(IUI));
    assert(iui != NULL);
    {{ name_pascal_case }}* menu = ({{ name_pascal_case }}*) malloc(sizeof({{ name_pascal_case }}));
    assert(menu != NULL);
    uiInit(&menu->ui);
    DYN_PTR(iui, {{ name_pascal_case }}, IUI, menu);
    UI* ui = &menu->ui;
{{ components_init_code }}
    return iui;
}

void {{ name_camel_case }}Destroy(IUI* menu) {
    {{ name_pascal_case }}* self = VCAST_PTR({{ name_pascal_case }}*, self);
    IUIComponent* component;
    cvector_for_each_in(component, self->ui.components) {
        void* component_instance = VCAST_PTR(void*, component);
        free(component_instance);
    }
    free(self);
    free(menu);
}

void {{ name_camel_case }}Open(VSelf) ALIAS("{{ name_pascal_case }}_open");
void {{ name_pascal_case }}_open(VSelf) {
    VSELF({{ name_pascal_case }});
{% for texture_params in static_textures %}
    assetLoadTextureDirect(
        {{ texture_params[0] }},
        {{ texture_params[1] }},
        &{{ texture_params[2] }}
    );
{% endfor %}
    self->ui.active = true;
}

static InputHandlerState {{ name_camel_case }}InputHandler(UNUSED const Input* input, void* ctx) {
    VCALL(cursor_component, update);
    const {{ name_camel_case }}* menu = ({{ name_camel_case }}*) ctx;
    const UI* ui = &menu->ui;
    IUIComponent* component;
    cvector_for_each_in(component, ui->components) {
        VCALL(*component, update);
    }
    TODO("Finish implementing logic for components being interacted with");
}

void {{ name_camel_case }}RegisterInputHandler(VSelf, Input* input, void* ctx) ALIAS("{{ name_pascal_case}}_registerInputHandler");
void {{ name_pascal_case }}_registerInputHandler(VSelf, Input* input, UNUSED void* ctx) {
    VSELF({{ name_pascal_case }});
    const InputHandlerVTable handler = (InputHandlerVTable) {
        .ctx = self,
        .input_handler = {{ name_camel_case }}InputHandler
    };
    inputAddHandler(
        input,
        handler
    );
}

void {{ name_camel_case }}Render(VSelf, RenderContext* ctx, Transforms* transforms) ALIAS("{{ name_pascal_case }}_render");
void {{ name_pascal_case }}_render(VSelf, RenderContext* ctx, Transforms* transforms) {
    VSELF({{ name_pascal_case }});
    uiRender(&self->ui, ctx, transforms);
    renderClearConstraintsIndex(ctx, 1);
    uiCursorRender(
        &cursor,
        ctx,
        transforms
    );
}
