#pragma once

#ifndef _GAME_MENU__{{ name_upper_snake_case }}_H_
#define _GAME_MENU__{{ name_upper_snake_case }}_H_

#include &lt;interface99.h&gt;

#include "../../ui/ui.h"

DEFN_UI({{ name_pascal_case }});

ALLOC_CALL({{ name_camel_case }}Destroy, 1) IUI* {{ name_camel_case }}New();
void {{ name_camel_case }}Destroy(IUI* menu);

#define {{ name_pascal_case }}_open_CUSTOM ()
void {{ name_camel_case }}Open(VSelf);
void {{ name_pascal_case}}_open(VSelf);

void {{ name_camel_case }}RegisterInputHandler(VSelf, Input* input, void* ctx);
void {{ name_pascal_case }}_registerInputHandler(VSelf, Input* input, void* ctx);

#define {{ name_pascal_case }}_render_CUSTOM ()
void {{ name_camel_case }}Render(VSelf, RenderContext* ctx, Transforms* transforms);
void {{ name_pascal_case }}_render(VSelf, RenderContext* ctx, Transforms* transforms);

impl(IInputHandler, {{ name_pascal_case }});
impl(IUI, {{ name_pascal_case }});

#endif // _GAME_MENU__{{ name_upper_snake_case }}_H_
